@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Components
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Abp.Admin.Pages.Components.Header

<!DOCTYPE html>

<html>
<head>
    <title>@(ViewBag.Title == null ? "Admin" : ViewBag.Title)</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <abp-style-bundle name="Abp.Admin"></abp-style-bundle>
    @await RenderSectionAsync("style", false)
</head>
<body>
    @await Component.InvokeAsync(typeof(HeaderViewComponent))
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <nav class="nav flex-column">

                </nav>
            </div>
        </div>
    </div>
    @RenderBody()
</div>
</body>
</html>
